.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4c62aa25;
}

.background {
    background: #fff;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 20%;
    width: 100%;
    height: 100vh;
    padding: 50px 10%;

}

.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: right;
    color: #6666;
    font-size: 0.7em;
    font-style: italic;
}

.p-button {
    width: 100%;
}

@media screen and (max-width: 920px) {
    .background {
        padding: 10px;
    }
}