<div class="card flex flex-column h-8rem border-round p-2">
    <div class="flex justify-content-between h-full">
        <div class="font-bold">Card</div>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button (onClick)="view()" label="View" icon="pi pi-eye" iconPos="right" size="small" severity="info" outlined />
        @if (canInvest) {
            <p-button (onClick)="invest()" label="Invest" icon="pi pi-ethereum" iconPos="right" size="small" severity="warn" outlined />
        }
        @if (canUpdate) {
            <p-button (onClick)="update()" label="Update" icon="pi pi-pen-to-square" iconPos="right" size="small" severity="help" outlined />
        }
    </div>
</div>

